.header{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #121212;
    color: #fff;
    .wrap{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 980px;

        .logo{
            display: block;
            width: 250px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
    }
}